.gradle
*.idea
*.iml
.DS_Store
repository-client/out/
repository-client/build/
repository-api/build/
repository-api/out/
repository-cli-test-harness/repository-cli-test-harness/
repository-cli-test-harness/out/
repository-cli-test-harness/build/
repository-cli/repository-cli/
repository-cli/build/
repository-cli/out/
