.gradle
*.idea
*.iml
verb-client/out/
verb-client/build/
verb-api/build/
verb-api/out/
verb-cli-test-harness/verb-cli-test-harness/
verb-cli-test-harness/out/
verb-cli-test-harness/build/
.DS_Store
verb-cli/verb-cli/
verb-cli/build/
